@font-face
  font-family: 'Display-NormalMedium'
  src: url(../fonts/Display-NormalMedium.woff)

@font-face
  font-family: 'Display-NormalBold'
  src: url(../fonts/Display-NormalBold.woff)

@font-face
  font-family: 'Display-WideBold'
  src: url(../fonts/Display-WideBold.woff)

@font-face
  font-family: 'Text-Regular'
  src: url(../fonts/Text-Regular.woff)

@font-face
  font-family: 'RobotoCondensed-Regular'
  src: url(../fonts/RobotoCondensed-Regular.woff)

@font-face
  font-family: 'RobotoCondensed-Bold'
  src: url(../fonts/RobotoCondensed-Bold.woff)

